<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderdream.mapper.ClientMapper">
    <!-- 按状态查询用户的分页结果 -->
    <select id="selectByName" resultType="com.coderdream.entity.ClientEntity">
        SELECT * FROM client
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>
